################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DecorShop/DecorShop/Areas/Admin/Views/Category/Index.cshtml
